<!DOCTYPE html>

<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="/>">
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
            rel="stylesheet">
    <title>Add User</title>
</head>
<body>
<div class="container-fluid">
    <div class="alert alert-light" role="alert">
        <a class="btn btn-light" href="/users">All Users</a>
    </div>

    <form th:object="${user}" th:action="@{/update/merge}"  accept-charset="UTF-8" class="row g-3"
          action="/update/merge"
          method="post">
        <input type="hidden" class="form-control" name="name"
               th:field="${user.id}">
        <div class="mb-3">
            <label for="Input1" class="form-label">First Name</label>
            <input type="text" class="form-control" name="name" id="Input1" th:placeholder="${user.name}"
                   th:field="*{name}">
        </div>
        <div class=" mb-3">
            <label for="Input2" class="form-label">Last Name</label>
            <input type="text" class="form-control" name="lastName" id="Input2"
                   placeholder="Pupkin" th:field="*{lastName}">
        </div>
        <div class="mb-3">
            <label for="Input3" class="form-label">Age</label>
            <input type="text" class="form-control" name="age" id="Input3" placeholder="98" th:field="*{age}">
        </div>
        <div class="mb-3">
            <label for="Input4" class="form-label">Email address</label>
            <input type="email" class="form-control" name="email" id="Input4"
                   placeholder="name@example.com" th:field="*{email}">
        </div>
        <div class="col-12">
            <input class="btn btn-info" type="submit" value="Сохранить изменения"/>
        </div>
    </form>
</div>
</body>
</html>